@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "List of Movies";
}
@model IEnumerable<Assignment3.Models.MoviesResponse>

<!--table to display information from database-->
<div>
    <h2>Movies:</h2>
    <table style="border:double">
        <thead>
            <tr>
                <th style="border:double">&nbsp; Category &nbsp;</th>
                <th style="border:double">&nbsp; Title &nbsp;</th>
                <th style="border:double">&nbsp; Year &nbsp;</th>
                <th style="border:double">&nbsp; Director &nbsp;</th>
                <th style="border:double">&nbsp; Rating &nbsp;</th>
                <th style="border:double">&nbsp; Edited &nbsp;</th>
                <th style="border:double">&nbsp; Lent To &nbsp;</th>
                <th style="border:double">&nbsp; Notes &nbsp;</th>
                <th style="border:double">&nbsp; &nbsp;</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <partial name="MovieSummary" model="x" />
            }
        </tbody>
    </table>
</div>